In [1]:
import numpy as np
import pandas as pd

In [2]:
df_test = pd.DataFrame([['foo', 2, '2017-12-21', 4], ['bar', 2, '2017-12-22', 5]], columns=['a', 'b', 'c', 'd'])
df_test = df_test.set_index(
    ["a", "b", "c"])[["d"]].unstack(
        level=-1).fillna(0)
df_test.columns = df_test.columns.get_level_values(1)

In [3]:
df_test

c      2017-12-21  2017-12-22
a   b
bar 2         0.0         5.0
foo 2         4.0         0.0

In [4]:
df_test.iloc[df_test.index.get_level_values(1) == 2, df_test.columns.get_level_values(0) == '2017-12-21'] = 1

In [5]:
df_test

c      2017-12-21  2017-12-22
a   b
bar 2         1.0         5.0
foo 2         1.0         0.0